/*
=============================================
  FONTS
=============================================
*/

@font-face {
  font-family: 'Josefin Sans';
  src: url('../assets/fonts/JosefinSans-Regular.woff2') format('woff2'),
      url('../assets/fonts/JosefinSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../assets/fonts/JosefinSans-Bold.woff2') format('woff2'),
      url('../assets/fonts/JosefinSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}






/*
=============================================
  VARIABLES
=============================================
*/

:root {
  /* Primary Colors */
  --primary-blue: hsl(220, 98%, 61%);
  --primary-check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* Light Theme */
  --lh-grayish-blue-500: hsl(235, 19%, 35%);
  --lh-grayish-blue-400: hsl(236, 9%, 61%);
  --lh-grayish-blue-300: hsl(233, 11%, 84%);
  --lh-grayish-blue-200: hsl(236, 33%, 92%);
  --lh-grayish-blue-100: hsl(0, 0%, 98%);

  /* Dark Theme */
  --dk-dark-blue: hsl(235, 21%, 11%);
  --dk-desaturated-blue: hsl(235, 24%, 19%);
  --dk-grayish-blue-500: hsl(237, 14%, 26%);
  --dk-grayish-blue-400: hsl(233, 14%, 35%);
  --dk-grayish-blue-300: hsl(234, 11%, 52%);
  --dk-grayish-blue-200: hsl(234, 39%, 85%);
  --dk-grayish-blue-100: hsl(236, 33%, 92%);
}






/*
=============================================
  CSS RESETS
=============================================
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
  hyphens: auto;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance; /* Tries to make each line of text roughly the same length */
}

p {
  text-wrap: pretty; /* Makes the final line of text have at least two words */
}